<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
    <script src="/js/bootstrap/jquery-3.2.1.slim.min.js"></script>
    <script src="/js/bootstrap/popper.min.js"></script>
    <script src="/js/bootstrap/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css">
    <script>if (window.module) module = window.module;</script>
    <title><%=servername%></title>
</head>

<body>
<h1><%=servername%></h1>
<%-include('./layout/info')%>

<form action="/" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="InputFile">음악 업로드</label>
        <input type="file" name="file" id="InputFile" class="form-control-file" accept="audio/*" required>
    </div>

    <button type="submit" class="btn btn-primary">BPM 구하기</button>
</form>
</body>
</html>